* {
  margin: 0px;
}
.logo {padding: 1em;
  height: 3em;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid yellow;
}
.THANKSGIVING,
p + b {
  height: 2em;
  align-items: center;
  background: rgb(253, 253, 134, 0.7);
  display: flex;
  justify-content: center;
  color: rgb(33, 100, 33);
}
.main {
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.recepiteTitle {
  padding: 1em;
  text-align: center;
}
.descriptionImg .imgName {
  text-align: center;
  color: gray;
}
.focaccia {
margin-top: 1em;
  border-radius: 2%;
  width: 100%;
  object-fit: cover;
}
.feature {
  border-left: 1px solid rgb(255, 255, 0);
}
.feature,
a {
  color: rgb(24, 156, 165);
}
.feature-p {
  margin-left: 1em;
  color: rgb(240, 79, 79);
}
.ingredients {
  margin-top: 2em;
}
.br {
  margin-top: 1em;
  height: 1px;
  background-color: rgb(127, 230, 230);
}
li {
  margin: 0.5em;
}
ul {
  font-family: Nanum Gothic Coding;
  margin-top: 1em;
}
.footer {
  width: 50%;
  margin: 0 auto;
}
.method {
  margin-top: 1em;
}
.font-weightP {
  font-weight: 350;
}
.boldFont {
  margin-top: 1em;
  font-weight: 600;
}
.method p:last-child{
  margin-top: 1em;
}